.contact-content {
  border-bottom: 1px solid var(--fourth-color);
}

.contact-content a {
  color: var(--second-color);
  background: var(--fourth-color);
}

.contact-content a:hover {
  background: var(--third-color);
}

.social-container a {
  color: var(--fifth-color);
}

.social-container a:hover {
  color: var(--fourth-color);
}

.dark .contact-content h1 {
  color: var(--first-color-dark);
}

.dark .contact-content {
  border-bottom: 1px solid var(--sixth-color-dark);
}

.dark .contact-content p {
  color: var(--fifth-color-dark);
}

.dark .social-container a {
  color: rgba(198, 195, 195, 0.6);
}

.dark .social-container a:hover {
  color: var(--third-color);
}