.footer {
  background: var(--first-color);
  border-top: 0.8px solid rgba(55, 107, 126, 0.2);
}

.copyright b {
  color: var(--fourth-color);
}

.dark .footer {
  background: var(--fourth-color-dark);
  border-top: 1.2px solid rgba(55, 107, 126, 0.2);
}

.dark .copyright {
  color: var(--fifth-color-dark);
}

.dark .copyright b {
  color: var(--first-color-dark);
}