:root {
  --first-color: #F6F6F6;
  --second-color: #ECECEC;
  --third-color: #376b7e;
  --fourth-color: #1f4e5f;
  --fifth-color: #000;

  --first-color-dark: #e0dede;
  --second-color-dark: #2a2d35;
  --third-color-dark: #203e49;
  --fourth-color-dark: #222831;
  --fifth-color-dark: #c5c3c3;
  --sixth-color-dark: rgba(198, 195, 195, 0.4)
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

html {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 140px;
  background: var(--second-color);
}

.dark main {
  background: var(--fourth-color-dark);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--second-color);
}

.dark ::-webkit-scrollbar-track {
  background: var(--fourth-color-dark);
}

::-webkit-scrollbar-thumb {
  background: rgba(55, 107, 126, 0.9);
  border-radius: 10px;
}