.hero-container {
  background: var(--second-color);
}

.hero-content {
  background: var(--second-color);
}

.hero-content h1 {
  color: var(--fourth-color);
}

.hero-content a {
  color: var(--second-color);
  background: var(--fourth-color);
}

.hero-content a:hover {
  color: var(--first-color);
  background: var(--third-color);
}

.backdrop-container {
  background: var(--fourth-color);
}

.dark .hero-container {
  background: var(--fourth-color-dark);
}

.dark .hero-content {
  background: var(--second-color-dark);
}

.dark .hero-content h1 {
  color: var(--first-color-dark);
}

.dark .hero-content h3 {
  color: var(--fifth-color-dark);
}