.content i {
  color: var(--fourth-color);
}

.skill-infomation h2 {
  color: var(--fourth-color);
}

.dark .skills-container h1 {
  color: var(--first-color-dark);
}

.dark .content i, 
.dark .skill-infomation h2 {
  color: #5f8b9c;
}

.dark .skill-infomation p {
  color: var(--fifth-color-dark);
}