---
import { contact } from "../../Content/contact";
---

<div class="contact-container" id="contact">
  <div class="contact-content">
    <h1 id="contact-title">{contact.en.title}</h1>
    <p id="contact-text">
      {contact.en.text}
    </p>
    <a id="contact-link" href="mailto:oalvarezalarcon0304@gmail.com">
      {contact.en.link}
    </a>
  </div>
  <div class="social-container">
    <a href="https://github.com/orlandoalvareza" target="_blank">
      <i class="fa-brands fa-github"></i>
    </a>
    <a
      href="https://www.linkedin.com/in/orlando-alvarez-5a705727a/"
      target="_blank"
    >
      <i class="fa-brands fa-linkedin-in"></i>
    </a>
    <a href="https://twitter.com/OrlandoA_01" target="_blank">
      <i class="fa-brands fa-twitter"></i>
    </a>
  </div>
</div>

<style>
  .contact-container {
    width: 660px;
  }

  .contact-content {
    height: 160px;
    text-align: center;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--fourth-color);
  }

  .contact-content h1 {
    margin-bottom: 15px;
  }

  .contact-content p {
    font-size: 17px;
    line-height: 21px;
    margin-bottom: 20px;
  }

  .contact-content a {
    color: var(--second-color);
    background: var(--fourth-color);
    padding: 6px 15px;
    border-radius: 15px;
  }

  .contact-content a:hover {
    background: var(--third-color);
  }

  .social-container {
    display: flex;
    justify-content: center;
    gap: 28px;
    margin-top: 15px;
  }

  .social-container a {
    font-size: 32px;
    color: var(--fifth-color);
    transition: 0.4s ease-in-out;
  }

  .social-container a:hover {
    color: var(--fourth-color);
    transform: translateY(-4px);
    transition: 0.3s ease-in-out;
  }

  :global(.dark) .contact-content h1 {
    color: var(--first-color-dark);
  }

  :global(.dark) .contact-content {
    border-bottom: 1px solid var(--sixth-color-dark);
  }

  :global(.dark) .contact-content p {
    color: var(--fifth-color-dark);
  }

  :global(.dark) .social-container a {
    color: rgba(198, 195, 195, 0.6);
  }

  :global(.dark) .social-container a:hover {
    color: var(--third-color);
  }

  @media screen and (max-width: 480px) {
    .contact-container {
      width: 320px;
    }

    .contact-content {
      height: 190px;
    }

    .contact-content h1 {
      font-size: 1.5rem;
    }

    .contact-content p {
      font-size: 15px;
      line-height: 20px;
    }

    .contact-content a {
      font-size: 14px;
    }

    .social-container {
      gap: 20px;
    }

    .social-container a {
      font-size: 25px;
    }
  }

  @media screen and (min-width: 481px) and (max-width: 767px) {
    .contact-container {
      width: 400px;
    }

    .contact-content {
      height: 170px;
    }

    .contact-content h1 {
      font-size: 1.6rem;
    }

    .contact-content p {
      font-size: 15px;
      line-height: 20px;
    }

    .contact-content a {
      font-size: 14px;
    }

    .social-container {
      gap: 20px;
    }

    .social-container a {
      font-size: 25px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .contact-content h1 {
      font-size: 1.8rem;
    }

    .contact-content p {
      font-size: 16px;
      line-height: 20px;
    }

    .social-container a {
      font-size: 28px;
    }
  }
</style>

<script>
  import "../../scripts/contact";
</script>
