---
import LanguageButton from "./LanguageButton.astro";
import MenuSelector from "./MenuSelector.astro";
import NavigationBar from "./NavigationBar.astro";
import ThemeButton from "./ThemeButton.astro";
---

<header class="header">
  <div class="header-navigation">
    <a href="/">Oa</a>
    <NavigationBar />
  </div>
  <div class="header-preferences">
    <LanguageButton />
    <ThemeButton />
    <MenuSelector />
  </div>
</header>

<style>
  .header {
    position: fixed;
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: var(--first-color);
    width: 100%;
    height: 70px;
    padding: 0 20px;
    z-index: 20;
    box-shadow:
      rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
      rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  }

  .header-navigation {
    display: flex;
    align-items: center;
    gap: 25px;
  }

  .header-navigation a {
    font-size: 2.8rem;
    font-weight: 700;
    color: var(--fourth-color);
  }

  .header-navigation a:hover {
    color: var(--third-color);
  }

  .header-preferences {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  :global(.dark) .header {
    background-color: var(--fourth-color-dark);
  }

  :global(.dark) .header-navigation a {
    color: var(--fifth-color-dark);
  }

  :global(.dark) .header-navigation a:hover {
    color: var(--first-color-dark);
  }

  @media screen and (min-width: 481px) and (max-width: 767px) {
    .header {
      height: 55px;
      padding: 0 15px;
    }

    .header-navigation a {
      font-size: 2.3rem;
    }

    .header-preferences {
      gap: 15px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .header {
      height: 60px;
    }

    .header a {
      font-size: 2.5rem;
    }
  }
</style>

<script>
  import "../../scripts/header";
</script>
