<button class="languageToggle">
  <i class="fa-solid fa-globe"></i>
  <span id="language-span">English</span>
</button>

<style>
  .languageToggle {
    display: flex;
    align-items: center;
    gap: 5px;
    background: transparent;
    padding: 5px 8px;
    border-radius: 15px;
    border: 1px solid var(--fourth-color);
    cursor: pointer;
  }

  .languageToggle i {
    font-size: 17px;
    color: var(--fourth-color-dark);
  }

  #language-span {
    font-size: 15px;
    color: var(--fourth-color);
  }

  .languageToggle i:hover,
  #language-span:hover {
    color: var(--third-color);
  }

  :global(.dark) .languageToggle {
    border: 1px solid var(--fifth-color-dark);
  }

  :global(.dark) .languageToggle i,
  :global(.dark) #language-span {
    color: var(--fifth-color-dark);
  }

  :global(.dark) .languageToggle i:hover,
  :global(.dark) #language-span:hover {
    color: var(--first-color-dark);
  }

  @media screen and (min-width: 481px) and (max-width: 767px) {
    .languageToggle {
      border: 0.2px solid var(--fourth-color);
    }

    .languageToggle i {
      font-size: 14px;
    }

    #language-span {
      font-size: 14px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .languageToggle {
      gap: 4px;
      padding: 5px 6px;
    }

    .languageToggle i {
      font-size: 16px;
    }

    #language-span {
      font-size: 14px;
    }
  }
</style>

<script is:inline>
  const languageButton = document.querySelector(".languageToggle");

  function changeLanguage() {
    if (document.documentElement.lang === "en") {
      document.documentElement.lang = "es";
    } else {
      document.documentElement.lang = "en";
    }

    const event = new Event("langChanged");
    document.dispatchEvent(event);
  }

  languageButton.addEventListener("click", changeLanguage);
</script>
