<div class="contact-container">
  <div class="content-container">
    <h1>Crafting Your Digital Vision!</h1>
    <p>
      Transform your ideas into digital masterpieces. Reach out, and together,
      we'll sculpt a web experience that reflects your dreams and aspirations.
    </p>
    <a href="#">Say Hello</a>
  </div>
  <div class="social-container">
    <a href=""><i class="fa-brands fa-github"></i></a>
    <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
    <a href=""><i class="fa-brands fa-twitter"></i></a>
  </div>
</div>

<style>
  .contact-container {
    width: 660px;
  }

  .content-container {
    height: 160px;
    text-align: center;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--fourth-color);
  }

  .content-container h1 {
    margin-bottom: 15px;
  }

  .content-container p {
    font-size: 17px;
    line-height: 21px;
    margin-bottom: 20px;
  }

  .content-container a {
    color: var(--second-color);
    background: var(--fourth-color);
    padding: 6px 12px;
    border-radius: 12px;
  }

  .content-container a:hover {
    background: var(--third-color);
  }

  .social-container {
    display: flex;
    justify-content: center;
    gap: 28px;
    margin-top: 15px;
  }

  .social-container a {
    font-size: 32px;
    color: var(--fifth-color);
    transition: 0.4s ease-in-out;
  }

  .social-container a:hover {
    color: var(--fourth-color);
    transform: translateY(-4px);
    transition: 0.3s ease-in-out;
  }
</style>
