---
import "../styles/contact.css";
---

<div class="contact-container" id="contact">
  <div class="contact-content">
    <h1>Crafting Your Digital Vision!</h1>
    <p>
      Transform your ideas into digital masterpieces. Reach out, and together,
      we'll sculpt a web experience that reflects your dreams and aspirations.
    </p>
    <a href="mailto:oalvarezalarcon0304@gmail.com">Say Hello</a>
  </div>
  <div class="social-container">
    <a href="https://github.com/orlandoalvareza" target="_blank">
      <i class="fa-brands fa-github"></i>
    </a>
    <a
      href="https://www.linkedin.com/in/orlando-alvarez-5a705727a/"
      target="_blank"
    >
      <i class="fa-brands fa-linkedin-in"></i>
    </a>
    <a href=""><i class="fa-brands fa-twitter"></i></a>
  </div>
</div>

<style>
  .contact-container {
    width: 660px;
  }

  .contact-content {
    height: 160px;
    text-align: center;
    padding-bottom: 15px;
  }

  .contact-content h1 {
    margin-bottom: 15px;
  }

  .contact-content p {
    font-size: 17px;
    line-height: 21px;
    margin-bottom: 20px;
  }

  .contact-content a {
    padding: 6px 15px;
    border-radius: 15px;
  }

  .social-container {
    display: flex;
    justify-content: center;
    gap: 28px;
    margin-top: 15px;
  }

  .social-container a {
    font-size: 32px;
    transition: 0.4s ease-in-out;
  }

  .social-container a:hover {
    transform: translateY(-4px);
    transition: 0.3s ease-in-out;
  }
</style>
