<div class="contact-container">
  <div class="content-container">
    <h1>Crafting Your Digital Vision!</h1>
    <p>
      Transform your ideas into digital masterpieces. Reach out, and together,
      we'll sculpt a web experience that reflects your dreams and aspirations.
    </p>
    <a href="#">Say Hello</a>
  </div>
  <div class="social-container">
    <a>GitHub</a>
    <a>LinkedIn</a>
  </div>
</div>

<style>
  .contact-container {
    width: 660px;
    margin-bottom: 300px;
  }

  .content-container {
    height: 140px;
    text-align: center;
  }

  .content-container h1 {
    margin-bottom: 15px;
  }

  .content-container p {
    font-size: 17px;
    line-height: 20px;
    margin-bottom: 14px;
  }

  .content-container a {
    padding: 5px 8px;
    border-radius: 8px;
  }

  .social-container {
    display: flex;
    justify-content: center;
    gap: 22px;
    margin-top: 12px;
  }
</style>
