<div class="footer">
  <p class="copyright">
    &copy; <b>Orlando Alvarez</b> 2023. All rights reserved
  </p>
</div>

<style>
  .footer {
    background: skyblue;
    width: 100%;
    text-align: center;
    padding: 25px 0;
  }
</style>
