---
import "../styles/footer.css";
---

<div class="footer">
  <p class="copyright">
    &copy; <b>Orlando Alvarez</b> 2023. All rights reserved
  </p>
</div>

<style>
  .footer {
    width: 100%;
    text-align: center;
    padding: 25px 0;
  }

  .copyright {
    font-size: 17px;
  }
</style>
