<div class="footer">
  <p class="copyright">
    &copy; <b>Orlando Alvarez</b> 2023.
    <span id="footer-span">All rights reserved</span>
  </p>
</div>

<style>
  .footer {
    background: var(--first-color);
    width: 100%;
    text-align: center;
    padding: 25px 0;
    border-top: 0.8px solid rgba(55, 107, 126, 0.2);
  }

  .copyright {
    font-size: 17px;
  }

  .copyright b {
    color: var(--fourth-color);
  }

  :global(.dark) .footer {
    background: var(--fourth-color-dark);
    border-top: 1.2px solid rgba(55, 107, 126, 0.2);
  }

  :global(.dark) .copyright {
    color: var(--fifth-color-dark);
  }

  :global(.dark) .copyright b {
    color: var(--first-color-dark);
  }

  @media screen and (min-width: 481px) and (max-width: 767px) {
    .footer {
      padding: 15px 0;
    }

    .copyright {
      font-size: 14px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .footer {
      padding: 20px 0;
    }

    .copyright {
      font-size: 16px;
    }
  }
</style>

<script>
  import "../scripts/footer";
</script>
