<div class="footer">
  <p class="copyright">
    &copy; <b>Orlando Alvarez</b> 2023. All rights reserved
  </p>
</div>

<style>
  .footer {
    background: var(--first-color);
    width: 100%;
    text-align: center;
    padding: 25px 0;
    border-top: 0.8px solid rgba(55, 107, 126, 0.2);
  }

  .copyright {
    font-size: 17px;
  }

  .copyright b {
    color: var(--fourth-color);
  }
</style>
