---
import LanguageButton from "./LanguageButton.astro";
import MenuSelector from "./MenuSelector.astro";
import ThemeButton from "./ThemeButton.astro";
---

<header class="header">
  <a href="/">Oa</a>
  <nav class="navigation">
    <a id="navigation__home-link" href="/">Home</a>
    <a id="navigation__about-link" href="/about">About Me</a>
    <!-- <LanguageButton />
      <ThemeButton /> -->
    <MenuSelector />
  </nav>
</header>

<style>
  .header,
  .navigation {
    display: flex;
    justify-content: space-between;
  }
  .header {
    position: fixed;
    align-items: center;
    background-color: var(--first-color);
    width: 100%;
    height: 70px;
    padding: 0 20px;
    z-index: 20;
    box-shadow:
      rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
      rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  }

  .header a,
  .navigation a {
    color: var(--fourth-color);
  }

  .header a {
    font-size: 2.8rem;
    font-weight: 700;
  }
  .navigation {
    gap: 14px;
  }

  .navigation a {
    font-size: 18px;
    font-weight: 600;
    padding: 5px 8px;
  }

  .header a:hover,
  .navigation a:hover {
    color: var(--third-color);
  }

  :global(.dark) .header {
    background-color: var(--fourth-color-dark);
  }

  :global(.dark) .header a,
  :global(.dark) .navigation a {
    color: var(--fifth-color-dark);
  }

  :global(.dark) .header a:hover,
  :global(.dark) .navigation a:hover {
    color: var(--first-color-dark);
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .header {
      height: 60px;
    }

    .header a {
      font-size: 2.5rem;
    }
    .navigation {
      gap: 10px;
    }

    .navigation a {
      font-size: 16px;
    }
  }
</style>

<script>
  import "../scripts/header";
</script>
