<header class="header">
  <a href="/">Oa</a>
  <nav class="navigation">
    <a href="/">Home</a>
    <a href="/about">About Me</a>
    <button id="changeLangButton">Change Language</button>
    <button id="themeToggle">
      <i class="fa-regular fa-sun"></i>
    </button>
  </nav>
</header>

<style>
  .header,
  .navigation {
    display: flex;
    justify-content: space-between;
  }
  .header {
    position: fixed;
    align-items: center;
    background-color: var(--first-color);
    width: 100%;
    height: 70px;
    padding: 0 20px;
    z-index: 20;
    box-shadow:
      rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
      rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  }

  .header a,
  .navigation a,
  .navigation i {
    color: var(--fourth-color);
  }

  .header a {
    font-size: 2.8rem;
    font-weight: 700;
  }
  .navigation {
    gap: 14px;
  }

  .navigation a {
    font-size: 18px;
    font-weight: 600;
    padding: 5px 8px;
  }

  .header a:hover,
  .navigation a:hover,
  .navigation i:hover {
    color: var(--third-color);
  }

  .navigation button {
    background: transparent;
    margin-left: 10px;
    border: none;
    cursor: pointer;
  }

  .navigation i {
    font-size: 22px;
    transition: transform 0.2s ease-in-out;
  }

  .navigation i:active {
    transform: rotate(60deg);
  }

  :global(.dark) .header {
    background-color: var(--fourth-color-dark);
  }

  :global(.dark) .header a,
  :global(.dark) .navigation a,
  :global(.dark) .navigation i {
    color: var(--fifth-color-dark);
  }

  :global(.dark) .header a:hover,
  :global(.dark) .navigation a:hover,
  :global(.dark) .navigation i:hover {
    color: var(--first-color-dark);
  }
</style>

<script is:inline>
  // language
  const changeLangButton = document.getElementById("changeLangButton");

  function changeLanguage() {
    if (document.documentElement.lang === "en") {
      document.documentElement.lang = "es";
    } else {
      document.documentElement.lang = "en";
    }

    const event = new Event("langChanged");
    document.dispatchEvent(event);
  }

  changeLangButton.addEventListener("click", changeLanguage);

  // theme
  const theme = (() => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      return "dark";
    }
    return "light";
  })();

  if (theme === "light") {
    document.documentElement.classList.remove("dark");

    // themeIcon.classList.remove("fa-moon", "fa-flip-horizontal");
    // themeIcon.classList.add("fa-sun");
  } else {
    document.documentElement.classList.add("dark");

    // themeIcon.classList.remove("fa-sun");
    // themeIcon.classList.add("fa-moon", "fa-flip-horizontal");
  }

  window.localStorage.setItem("theme", theme);

  const handleTheme = () => {
    const element = document.documentElement;
    element.classList.toggle("dark");

    const isDark = element.classList.contains("dark");

    localStorage.setItem("theme", isDark ? "dark" : "light");
    handleIcon(isDark);
  };

  const handleIcon = (isDark) => {
    const themeIcon = document.querySelector("i");

    if (isDark) {
      themeIcon.classList.remove("fa-sun");
      themeIcon.classList.add("fa-moon", "fa-flip-horizontal");
    } else {
      themeIcon.classList.remove("fa-moon", "fa-flip-horizontal");
      themeIcon.classList.add("fa-sun");
    }
  };

  const themeButton = document.getElementById("themeToggle");
  themeButton.addEventListener("click", handleTheme);
</script>
