<div class="hero-container">
  <div class="content-container">
    <h1>Crafting Experiences, Coding Dreams</h1>
    <h3>Where Imagination Fuels Innovation</h3>
    <a href="#">Let's Connect</a>
  </div>
  <div class="photo-container">
    <h1>"Photo or shape container"</h1>
  </div>
</div>

<style>
  .hero-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: papayawhip;
    width: 100%;
    height: 100vh;
  }

  .content-container {
    text-align: center;
    padding: 5px;
  }

  .content-container h1,
  .content-container h3 {
    margin-bottom: 10px;
  }

  .content-container a {
    padding: 5px 8px;
    border-radius: 8px;
  }
</style>
