<button id="changeLangButton">
  <i class="fa-solid fa-globe"></i>
  <span id="language-span">English</span>
</button>

<style>
  #changeLangButton {
    display: flex;
    align-items: center;
    gap: 5px;
    background: transparent;
    padding: 5px 8px;
    border-radius: 15px;
    border: 1px solid var(--fourth-color);
    cursor: pointer;
  }

  #changeLangButton i {
    font-size: 17px;
    color: var(--fourth-color-dark);
  }

  #language-span {
    font-size: 15px;
    color: var(--fourth-color);
  }
</style>

<script is:inline>
  function changeLanguage() {
    if (document.documentElement.lang === "en") {
      document.documentElement.lang = "es";
    } else {
      document.documentElement.lang = "en";
    }

    const event = new Event("langChanged");
    document.dispatchEvent(event);
  }

  const changeLangButton = document.getElementById("changeLangButton");
  changeLangButton.addEventListener("click", changeLanguage);
</script>
