<button id="changeLangButton">
  <i class="fa-solid fa-globe"></i>
  <span id="language-span">English</span>
</button>

<style>
  #changeLangButton {
    display: flex;
    align-items: center;
    gap: 5px;
    background: transparent;
    padding: 5px 8px;
    border-radius: 15px;
    border: 1px solid var(--fourth-color);
    cursor: pointer;
  }

  #changeLangButton i {
    font-size: 17px;
    color: var(--fourth-color-dark);
  }

  #language-span {
    font-size: 15px;
    color: var(--fourth-color);
  }

  #changeLangButton i:hover,
  #language-span:hover {
    color: var(--third-color);
  }

  :global(.dark) #changeLangButton {
    border: 1px solid var(--fifth-color-dark);
  }

  :global(.dark) #changeLangButton i,
  :global(.dark) #language-span {
    color: var(--fifth-color-dark);
  }

  :global(.dark) #changeLangButton i:hover,
  :global(.dark) #language-span:hover {
    color: var(--first-color-dark);
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    #changeLangButton {
      gap: 4px;
      padding: 5px 6px;
    }

    #changeLangButton i {
      font-size: 16px;
    }

    #language-span {
      font-size: 14px;
    }
  }
</style>

<script is:inline>
  const changeLangButton = document.getElementById("changeLangButton");

  function changeLanguage() {
    if (document.documentElement.lang === "en") {
      document.documentElement.lang = "es";
    } else {
      document.documentElement.lang = "en";
    }

    const event = new Event("langChanged");
    document.dispatchEvent(event);
  }

  changeLangButton.addEventListener("click", changeLanguage);
</script>
