---
import LanguageButton from "./LanguageButton.astro";
import ThemeButton from "./ThemeButton.astro";
---

<button id="menu-selector">
  <i class="fa-solid fa-bars"></i>
</button>
<div id="backdrop" style="display: none"></div>
<div id="menu-options" style="display: none">
  <div class="navigation-options">
    <div class="close-menu-container">
      <button class="close-menu-button">
        <i class="fa-solid fa-x"></i>
      </button>
    </div>
    <ul class="navigation-list">
      <li>
        <a href="/">
          <i class="fa-solid fa-house"></i>
          <span>Home</span>
        </a>
      </li>
      <li>
        <a href="/about">
          <i class="fa-solid fa-address-book"></i>
          <span>About Me</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="page-preferences">
    <LanguageButton />
    <ThemeButton />
  </div>
</div>

<style>
  #menu-selector {
    background: transparent;
    padding: 5px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
  }

  #menu-selector i {
    font-size: 20px;
  }

  #backdrop {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100vh;
  }

  #menu-options {
    position: absolute;
    top: 0;
    right: 0;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--first-color);
    width: 14%;
    height: 100vh;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  }

  .navigation-options {
    width: 100%;
  }

  .close-menu-container {
    padding-bottom: 20px;
    border-bottom: 1px solid black;
  }

  .close-menu-button {
    background: transparent;
    padding: 5px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }

  .close-menu-button i {
    font-size: 18px;
  }

  .navigation-list {
    padding: 35px 15px;
  }

  .navigation-list li:first-child {
    margin-bottom: 15px;
  }

  .navigation-list a {
    display: flex;
    align-items: center;
    gap: 15px;
    color: var(--fourth-color);
  }

  .navigation-list i {
    font-size: 22px;
  }

  .navigation-list span {
    font-size: 18px;
  }

  .page-preferences {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
</style>

<script is:inline>
  const backdrop = document.getElementById("backdrop");
  const menuButton = document.getElementById("menu-selector");
  const closeMenuButton = document.querySelector(".close-menu-button");
  const menuOptions = document.getElementById("menu-options");

  const openNavMenu = () => {
    backdrop.style.display = "block";
    menuOptions.style.display = "flex";
  };

  const closeNavFromButton = () => {
    backdrop.style.display = "none";
    menuOptions.style.display = "none";
  };

  const closeNavFromDOM = (event) => {
    if (
      !menuButton.contains(event.target) &&
      !menuOptions.contains(event.target)
    ) {
      backdrop.style.display = "none";
      menuOptions.style.display = "none";
    }
  };

  const toggleMenuVisibility = () => {
    if (window.innerWidth < 768) {
      menuButton.style.display = "flex";
    } else {
      menuButton.style.display = "none";
    }
  };

  menuButton.addEventListener("click", openNavMenu);
  closeMenuButton.addEventListener("click", closeNavFromButton);
  document.addEventListener("click", closeNavFromDOM);

  window.addEventListener("load", toggleMenuVisibility);
  window.addEventListener("resize", toggleMenuVisibility);
</script>
