---
import { projects } from "../Content/projects";
import type { PROJECT } from "../Types/types-interfaces";
---

<div class="projects-container">
  <h1>Projects</h1>
  <ul class="projects-list">
    {
      projects.map((project: PROJECT) => (
        <li class="project-item">
          <img src={project.image} alt={project.title} />
          <h2>{project.title}</h2>
          <ul class="skills-list">
            {project.skills.map((skill) => (
              <li>#{skill}</li>
            ))}
          </ul>
        </li>
      ))
    }
  </ul>
  <p>
    <a href="https://github.com/orlandoalvareza" target="_blank">
      View full projects archive in GitHub "arrow-icon"
    </a>
  </p>
</div>

<style>
  .projects-container {
    width: 1000px;
    margin-bottom: 50px;
  }

  .projects-container h1 {
    margin-bottom: 15px;
    text-align: center;
  }

  .projects-list,
  .project-item {
    display: flex;
    justify-content: space-between;
  }

  .project-item {
    flex-direction: column;
    width: 31%;
    height: 350px;
  }

  .project-item img {
    width: 100%;
    height: 280px;
    object-fit: cover;
  }

  .project-item h2,
  .skills-list {
    padding: 0 5px;
  }

  .skills-list {
    display: flex;
    gap: 15px;
    padding-bottom: 10px;
  }

  .projects-container p {
    margin-top: 20px;
    text-align: center;
  }
</style>
